<div class="form-container">
  <h2>GET A QUOTE</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="2"></textarea>
    </div>
  </form>
  <button>Send</button>
</div>
